# Banco de dados
POSTGRES_USER=almoxaf
POSTGRES_PASSWORD=almoxaf_dev_password
POSTGRES_DB=almoxaf
POSTGRES_HOST=db
POSTGRES_PORT=5432

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@almoxaf.local
PGADMIN_DEFAULT_PASSWORD=admin

# API (preenchido a partir da Etapa 2)
# API_PORT=8080
